* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", Arial, sans-serif;
}

body {
  background-color: #f9b391;;
  padding: 30px;
  position: relative;
}


.home-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.home-btn img {
  width: 45px;
  transition: transform 0.2s;
}

.home-btn img:hover {
  transform: scale(1.1);
}

.profile {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5d1bf;
  padding: 8px 14px;
  border-radius: 25px;
}

.profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.name {
  position: absolute;
  left: 20px;
  top: 20px;
  font-weight: bold;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 900px;
  margin-bottom: 40px;
  position: relative;
  width: 900px;
  height: 650px;
  margin: 0 auto 40px;
}

.swings {
  top: 0;
  left:0;
}
.kalachuchi {
  top: 300;
  left:300;
}

.grandstand {
  top: 0;
  right:0;
}

.gazebos {
  bottom: 0;
  left: 0;
}
.basketball {
  bottom: 0;
  right: 0;
}

.card {
  background-color: #f5d1bf;
  padding: 15px;
  border-radius: 20px;
  width: 260px;
  text-align: center;
  position: absolute;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}


.note {
  background-color: #fff3b0;
  width: 420px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.speech-container {
  position: relative;
  width: 520px;
  margin: 0 auto;
  margin-top: 30px;
}

.speech-dog {
  width: 70px;
  position: absolute;
  bottom: -10px;
  left: -10px;
}
.note::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 60px;
  border-width: 18px;
  border-style: solid;
  border-color: #fff3b0 transparent transparent transparent;
}
